*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header
{
    height: 10px;
    background-color: rgba(0, 0, 0, 0.829);
    flex-shrink: 0;

}

.wrap
{
    max-width: 512px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mec-wrap
{
    flex-grow: 1;
    border-style: dotted;
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    overflow: hidden;
}

.sidebar
{
    width: 60px;
    background-color: rgba(0, 0, 0, 0.829);
    
}

main
{
    max-width: 514px;
    border-style: dotted;
    background-color: rgb(255, 255, 255);
}

footer
{
    .underbar
    {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(48, 45, 45, 0.808);
        color: white;
        text-align: center;

    }
    
}
