/*regole base iniziali*/
:root{
    --dis-sidebar-bg:#141318;
    --dis-main-bg:#1c1d22;
    --dis-footer-bg:#2d2d35;
    --dis-primary-bg:#373a43;
    --dis-secondary-bg:#26262e;
    --dis-white-bg:white;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/*zona costruzione del corpo principale*/

body{
    max-width: 512px;
    height: 100%;
    margin:0 auto;
}


main{
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    background-color: var(--dis-main-bg);
    color:grey;

    header{
        & > div {
            display:flex;
            gap:1rem;
        }
        .add-friendship-btn{
            flex-grow: 1;
            border-radius: 0.75rem;
        }
        .search-btn{
            border-radius: 50%;
        }
        button{
            padding: 0.45rem 0.45rem;
            background-color: var(--dis-primary-bg);
            border-style: none;
            color: var(--dis-white-bg);
        }
        h2{
            margin-bottom: 0.5rem;
            color: var(--dis-white-bg);
        }
    }
}

.mex{

    .immagine-profilo{
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        
       
        .messaggi-details{
            flex-grow: 1;
            font-size: medium;

            h3{
                font-size: large;
            }
        }

        img{
            width:40px;
            height: 40px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }

    }
}

.sidebar{
    width: 80px;
    flex-shrink: 0;
    background-color:var(--dis-sidebar-bg);
    
   
    
    
    .server img{
        margin-bottom: 0.5rem;
        margin-left: 0.75rem;
        width: 60px;
        height: 60px;
        border-radius:50%;
    }

    .logo{
        margin-top:1rem;
        margin-bottom: 0.5rem;
    }

    /*li:first-child::before{
        content:" ";
        display:inline-block;
        width: 6px;
        background-color: var(--dis-white-bg);
        height: 4rem;
        border-radius: 2rem;
    }*/
    
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.central-wrapper{
    flex-grow: 1;
    background-color: var(--dis-sidebar-bg);
    display:flex;
    overflow:hidden;
}

footer{
    height: 200px;
    background-color: var(--dis-footer-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    button{
        background-color: transparent;
        color: var(--dis-white-bg);
        border-style: none;
        display: flex;
        flex-direction: column;

        i{
            font-size: medium;
        }
    }
}


