*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 10%;
    border-radius: 50%;
}

.sidebar
{
    max-width: 24%;
    background-color: rgba(0, 0, 0, 0.829);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


body
{
    width: 512px;
    height: 100%;
    margin:0 auto
}

.content
{
    max-width: 100%;
    border-style: ridge;
    
}

header
{
    height: 10px;
    background-color: rgba(0, 0, 0, 0.829);
    flex-shrink: 0;

}


.mec-wrap
{
    width: 100%;
    border-style: dotted;
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    overflow: hidden;

}

main
{
    max-width: 514px;
    border-style: dotted;
    background-color: rgb(255, 255, 255);
}


.list-flex 
{
    max-width: 15%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
}

.porcorik
{
    display: flex;
    max-width: 15%;
    justify-content: flex-start;
    flex-direction:column;
}


footer
{
    
    .underbar
    {
        height: 70px;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(48, 45, 45, 0.808);
        
        .foto-profilo
        {
            max-width:5%;

        }
    
    }
    
}
