:root{
    --dis-sidebar-bg:#141318;
    --dis-main-bg:#1c1d22;
    --dis-footer-bg:#2d2d35;
    --dis-primary-bg:#373a43;
    --dis-secondary-bg:#;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

body
{
    max-width: 512px;
    height: 100%;
    margin:0 auto;
}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.central-content{
    
}

.sidebar
{
    max-width: 60%;
    flex-shrink: 0;
    background-color: ;
}

main
{
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-style: dotted;
    border-top-left-radius: 1rem;
    
    .messages{
        .messages-item
        {
            display: flex;
            gap:0.5rem;
            margin: 1rem 0;
            padding: 1rem;
            
            img
            {
                width: 40px;
                height: 40px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            
            .message_details
            {
                flex-grow: 1;
                padding: 0.25rem;
            }
            
            .message_details_text, .last_time
            {
                font-size: 0.75rem;
            }
        }
    
    }

}


footer
{
    height: 80px;
    background-color: ;
    flex-shrink: 0; 
}





