:root{
    --dis-sidebar-bg:#141318;
    --dis-main-bg:#1c1d22;
    --dis-footer-bg:#2d2d35;
    --dis-primary-bg:#373a43;
    --dis-secondary-bg:#26262e;
    --dis-white-bg:white;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

body{
    max-width: 512px;
    height: 100%;
    margin:0 auto;
}


main{
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    background-color: var(--dis-main-bg);
    color:grey
}

.sidebar{
    width: 60px;
    flex-shrink: 0;
    background-color:var(--dis-sidebar-bg);
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.central-wrapper{
    flex-grow: 1;
    background-color: var(--dis-sidebar-bg);
    display:flex;
    overflow:hidden;
}

footer{
    height: 80px;
    background-color: var(--dis-footer-bg);
    flex-shrink: 0;
}


